Pre define functions<br>
anyName() #pre define function<br>
ref.anyName() # Pre define method<Br>
ref.anyName # Attributes
    
# Operators

# Control flow

In [1]:
print("Muhammad Qasim")

Muhammad Qasim

In [3]:
a = "PakiStan"
print(a)
print(type(a))

PakiStan
<class 'str'>

# String Class Method and Attributes

In [4]:
a = "paKistan ziNda bad"
print(a)

paKistan ziNda bad

In [5]:
a.capitalize()

'Pakistan zinda bad'

In [6]:
a.upper()

'PAKISTAN ZINDA BAD'

In [7]:
a.title()

'Pakistan Zinda Bad'

In [9]:
print(a)

paKistan ziNda bad

In [10]:
a.lower()

'pakistan zinda bad'

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
print?

In [14]:
a.center??

In [15]:
abc = """
Saylani Welfer Trust
City: Karachi
Country: Pakistan
"""

print(abc)

Saylani Welfer Trust
City: Karachi
Country: Pakistan

In [ ]:
abc = '''
Saylani Welfer Trust
City: Karachi
Country: Pakistan
'''

print(abc)

In [16]:
abc = """
*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Roll No: 786
"""

print(abc)

*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Roll No: 786

In [19]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
roll_no = 786

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Roll No: 786

In [21]:
a=print("pakistan")
print(a)

pakistan
None

In [22]:
a = input("Enter Name")
a

Enter NameMuhammmad Qasim

'Muhammmad Qasim'

In [23]:
name = input("Enter your name")
father_name = input("Enter your Father's Name")
roll_no = input("Enter your Roll no")

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

Enter your nameGulraiz
Enter your Father's NameMuhammad
Enter your Roll no123

*******PIAIC********
Saylani Welfer Trust
Name: Gulraiz
Father's Name: Muhammad
Roll No: 123

In [24]:
a = "pakistan"
b = "zinda bad"

a + b #Concatinact

'pakistanzinda bad'

In [25]:
a = 5
b = 7
a + b # Addition

12

In [26]:
5 + 7

12

# Operators

In [ ]:
# Pemdas
+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, !=, <> # Logical Operator

and, or # Combine logic checking

# +, -, * , /, %, // # Mathmatics

In [27]:
5 + 2

7

In [28]:
4 - 2

2

In [29]:
3 * 5

15

In [30]:
12 / 3

4.0

In [31]:
15 % 4

3

In [32]:
15 / 4

3.75

In [33]:
15 // 4

3

In [34]:
15 // 4.0

3.0

In [35]:
# 2 * 2 * 2 = 8
2 ** 3

8

In [36]:
2 + 6 * 8 / 5 + (2*3)

17.6

# pemdas
2 + 6 * 8 / 5 + (2*3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

# =, +=, -=, *=, /=, %=, **= # Assign Operator

In [37]:
a = "Pakistan"
a

'Pakistan'

In [38]:
a = 'china'
a

'china'

In [39]:
a * 2

'chinachina'

In [40]:
a = "abc"
a

'abc'

In [41]:
a += " xyz"
a

'abc xyz'

In [42]:
a *= 2
a

'abc xyzabc xyz'

In [43]:
a %= 2

TypeError: not all arguments converted during string formatting

In [44]:
a = 15
a %= 4
a

3

In [45]:
#3 * 3 * 3
a **= 3
a

27

In [46]:
a = "abv"
a **= 2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==, >, <, >=, <=, !=, <> # Logical Operator

In [47]:
5 == 5

True

In [48]:
5 == 3

False

In [49]:
5 > 3

True

In [50]:
5 < 3

False

In [51]:
5 > 5

False

In [52]:
5 >= 5

True

In [53]:
5 != 5

False

In [54]:
5 != 5

False

In [55]:
6 < 6

False

In [56]:
6 <= 6

True

In [57]:
5 == 5 and 6 <= 7 and 10 >= 9
# True and True and True
# True

True

In [58]:
5 == 5 and 9 <= 7 and 10 >= 9
# True and False and True
# False

False

In [60]:
5 == 5 or 6 <= 7 or 10 >= 9
# True or True or True
# True

True

In [62]:
5 == 7 or 6 <= 7 or 10 >= 11
# False or True or False
# True

True

In [63]:
True | False

True

In [64]:
True & True & False

False

or , |
and , &

In [65]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [66]:
a = 'abc'
b = 'xyz'
c = '27'

print(a,b,c)

abc xyz 27

In [67]:
a = 'abc'
b = 'xyz'
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [68]:
a = 'abc'
b = 'xyz'
c = 27

print(a,b,c)

abc xyz 27

In [69]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)

'abcxyz27'

In [71]:
a = '1'
b = '1'
a + b

'11'

In [72]:
a = input()
b = input()

a + b

1
1

'11'

In [73]:
int(a) + int(b)

2

In [75]:
float(a) + float(b)

2.0

In [76]:
a+b

'11'

In [78]:
import this

# Control Flow

loop (for , while)
exception
if else elif
switch

# If, else, elif

if logic:
    true value
else:
    false value

if logic1:
    true value 1
elif logic2:
    true value 2
elif logic3:
    true value 3
else:
    false value

if logic1 and logic2 and logic3:
    value true
else:
    false value

In [79]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQasim
Student

In [80]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your Nameqasim
Teacher

In [81]:
name = input("Entery your Name")

if name.lower() == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQaSiM
Teacher

In [82]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per>=50:
    print("C")
elif per>=60:
    print("B")
elif per>=70:
    print("A")
elif per>=80:
    print("A+")

Fail

In [83]:
per = 79

if per >= 0 and per <33:
    print("Fail")
elif per >= 33 and per<40:
    print("E")
elif per >= 40 and per<50:
    print("D")
elif per>=50 and per<60:
    print("C")
elif per>=60 and per<70:
    print("B")
elif per>=70 and per<80:
    print("A")
elif per>=80 and per<=100:
    print("A+")
else:
    print("Not valid")

A

In [84]:
per = 78

if per>=80:
    print("A+")
elif per>=70:
    print("A")
else:
    print("Fail")

A

In [85]:
names = ['qasim','asif','kashif']
names

['qasim', 'asif', 'kashif']

In [86]:
names[2]

'kashif'

In [87]:
names

['qasim', 'asif', 'kashif']

In [88]:
names[2] = "Kamran"
names

['qasim', 'asif', 'Kamran']

In [89]:
names = []
while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break

names

namesqasim
namesasif
nameskashif
namesmuslim
namesx

['qasim', 'asif', 'kashif', 'muslim']